TABLE {	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px}
BODY { background-color:#333333;	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px;  PADDING-BOTTOM: 5px; COLOR: #333; PADDING-TOP: 5px; FONT-FAMILY: ""}
TD {	FONT-SIZE: 12px}
.f12 {	FONT-SIZE: 12px}
A {	TEXT-DECORATION: underline}
A:link {	COLOR: #0051b4}
A:visited {	COLOR: #333}
A:hover {	COLOR: #f00}
A:active {	COLOR: #f00}
.F14lists {	LINE-HEIGHT: 23px}
.F14lists UL {	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px}
.F14lists LI {	PADDING-LEFT: 2px; FONT-SIZE: 14px; VERTICAL-ALIGN: bottom}
.F14lists LI SPAN {	FONT-SIZE: 9px; COLOR: #533826}
.FixTitle A:link {	COLOR: #0736aa; TEXT-DECORATION: none}
.FixTitle A:visited {	COLOR: #0736aa; TEXT-DECORATION: none}
.FixTitle A:hover {	TEXT-DECORATION: underline}
.FixTitle {	BORDER-RIGHT: #a2d1ff 1px solid; BORDER-TOP: #a2d1ff 1px solid; BACKGROUND: url(../images/olyready_bg_cl_002.gif) 0px -101px; OVERFLOW: hidden; BORDER-LEFT: #a2d1ff 1px solid; LINE-HEIGHT: 24px; BORDER-BOTTOM: #a2d1ff 1px solid; HEIGHT: 24px}
.FixTitle H3 {	PADDING-LEFT: 30px; FONT-SIZE: 14px; BACKGROUND: url(../images/olyready_bg_cl_001.gif) 2px -197px; FLOAT: left; COLOR: #0736aa}
.FixTitle SPAN {	PADDING-RIGHT: 5px; FLOAT: right}
.RForm {	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px}
.RForm DT {	LINE-HEIGHT: 23px}
.RformB {	PADDING-LEFT: 10px}
.blk_29 {	 PADDING-RIGHT: 0px;  PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; OVERFLOW: hidden;  PADDING-TOP: 10px;  ZOOM: 1; POSITION: relative}
.blk_29 .LeftBotton {	BACKGROUND: url(../images/ca_hz_002.png) no-repeat 0px 0px; LEFT: 5px; FLOAT: left; WIDTH: 11px; CURSOR: pointer; POSITION: absolute; TOP: 10px; HEIGHT: 114px}
.blk_29 .RightBotton {	RIGHT: 5px; BACKGROUND: url(../images/ca_hz_002.png) no-repeat -11px 0px; FLOAT: right; WIDTH: 11px; CURSOR: pointer; POSITION: absolute; TOP: 10px; HEIGHT: 114px}
.blk_29 .Cont {	MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 1108px; PADDING-TOP: 5px}
.blk_29 .box {	FLOAT: left; WIDTH:138px; TEXT-ALIGN: center}
.blk_29 .box IMG {	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px;PADDING-BOTTOM: 3px; MARGIN: 0px auto; PADDING-TOP: 3px;BORDER: #151515 1px solid; }
.blk_29 .box A:hover IMG {	BORDER: #816D2D 1px solid; }
.blk_29 .box P {	MARGIN: 6px auto 0px; WIDTH: 97px; LINE-HEIGHT: 20px}
.rollphotos {	MARGIN-TOP: 10px;WIDTH:1180px}
.partC {	MARGIN-TOP: 10px; OVERFLOW: auto; WIDTH: 1100px}
.partC .PC_left {	OVERFLOW: auto; WIDTH: 470px}
.partC .PC_right {	OVERFLOW: auto; WIDTH: 470px}
.partC .PC_left {	FLOAT: left}
.partC .PC_right {	FLOAT: right}
.PT_mix {	BORDER-RIGHT: #a2d1ff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #a2d1ff 0px solid; PADDING-LEFT: 0px; BACKGROUND: #f3fbfe; PADDING-BOTTOM: 10px; OVERFLOW: auto; BORDER-LEFT: #a2d1ff 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #a2d1ff 1px solid}
.PhoTxt {	MARGIN-TOP: 10px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; OVERFLOW: auto; WIDTH: 220px}
.PhoTxt IMG {	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 3px; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; MARGIN-RIGHT: 5px; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid}
.PhoTxt H1 {	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 23px}
.PhoTxt P {	COLOR: #545454; LINE-HEIGHT: 20px}

<!--弹出/数字字体大小-->

.ie{width:450px;  padding:20px; overflow:hidden; display:none}
#wizard {font-size:12px;height:400px;margin:20px auto;width:450px;overflow:hidden;position:relative;}
#wizard .items{width:20000px; clear:both; position:absolute;}
#wizard .right{float:left; margin-top:300px; margin-left:100px;}
#wizard #status{height:35px;background:#123;padding-left:25px !important;}
#status li{float:left;color:#fff;padding:10px 30px; }
#status li.active{background-color:#369;font-weight:normal;}
.input{width:240px; height:18px; margin:10px auto; line-height:20px; border:1px solid #d3d3d3; padding:2px}
.page{padding:20px 30px;width:500px;float:left;}
.page h3{height:42px; font-size:16px; border-bottom:1px dotted #ccc; margin-bottom:20px; padding-bottom:5px}
.page h3 em{font-size:12px; font-weight:500; font-style:normal}
.page p{line-height:24px;}
.page p label{font-size:14px; display:block;}
.btn_nav{height:36px; line-height:36px; margin:20px auto;}
.prevv,.nextt{ line-height:32px;  cursor:pointer}

.animate {
font-size:50px;
color: #B59A43;
font-family: Helvetica;
}