@charset "utf-8";
html, body { background: #181818; }
/*新首页开始*/

#indexPage .module .content { position:inherit; top:0px; }
#indexPage #mslider .content { margin:0; height:700px; }
#indexPage #mservice { height:520px; background:#f00; padding-top:130px; z-index:5; }
#indexPage #mservice .content { margin:0; height:340px; padding-bottom:100px; }
#indexPage #mproject .content { margin:0; height:1150px; }
#indexPage #mpage .content { margin:0; height:574px; }
#indexPage #mteam .content { margin:0; height:600px; }
#indexPage #mnews .content { margin:0; height:auto; }
#indexPage #mcontact .content { margin:0; height:822px }
#indexPage #mpartner .content { margin:0; height:130px; }
/*导航*/

#header ul#nav { float:right; }
#header ul#nav:after { content:''; display:block; clear:both; }
#header ul li.navitem { padding:0 26px 10px; }
#header ul li.navitem a { color: #666; }
#header ul li.navitem a.active, #header ul li.navitem:hover a { color:#fff; }
#header ul li.navitem a:after { content:''; display:block; margin-top:-14px; transition: all .3s ease-out 0s;}
#header ul li.navitem a.active:after, #header ul li.navitem:hover a:after { content:''; display:block; width:100%; height:1px; background:#b3b3b3; margin-top:-6px; }
#header ul li.navitem ul.subnav { border-top: #353535 1px solid; width:192px; box-shadow: 0 6px 10px rgba(0, 0, 0, .1); }
#header ul li.navitem ul.subnav li { border-color:transparent; border-bottom:1px solid #353535; }
#header ul li.navitem ul.subnav li:last-child {border-bottom:1px solid transparent;}
#header ul li.navitem ul.subnav li a { font-size: 14px; background:transparent; text-align:center; border-color:transparent; color:#6E6E6E; width:auto; }
#header ul li.navitem ul.subnav li a i { display:none; }
#header ul li.navitem ul.subnav li a:after, #header ul li.navitem ul.subnav li a:after { display:none; }
#header ul li.navitem ul.subnav li a:hover { border-color:transparent; color: #eaeaea; background:transparent; text-indent:0px; }
#header ul li.navitem:hover .subnav { background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%; }
#header.mini { background-color: rgba(0, 0, 0, 0.7); box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.02); border-bottom:1px solid #212121 }
#header.mini { background-color: rgba(0, 0, 0, 0.7); }
#header #logo { float:left; }
#header ul li.navitem a { color:#666; }
#header ul li.navitem:hover ul.subnav { background-color: #202020; }
#header .content { padding:0 2%; }
#header ul li.navitem .subnav li:hover { background-color: #141414; }
#header { background:transparent; }
/*幻灯*/

#indexPage #mslider .bx-wrapper { position:relative; }
#mslider .bx-wrapper .bx-pager-item { width:40px; height:1px; background:#d8d8d8; position:relative; margin:1.25% 5px 0; }
#indexPage #mslider .bx-wrapper .bx-pager { top: 50%; margin-top:-15px; }
#indexPage #mslider .bx-wrapper .bx-controls-direction { display:none; }
#indexPage #mslider .bx-pager { display:block; bottom:66px; left:20px; }
#mslider .bx-wrapper .bx-pager-item { width:10px; height:1px; transition:all 0.3s ease-out 0s; display:block; background: rgba(255, 255, 255, .3); margin:12px 0; position:relative; }
#mslider .bx-wrapper .bx-pager.bx-default-pager a { width:30px; height:16px; border-color:transparent; margin-top: -8px; margin-left: -6px; background-color:transparent; border-color:transparent; position:absolute; }
#mslider .bx-wrapper .bx-pager.bx-default-pager a:after { content:''; display:block; width: 11px; height: 1px; border-radius: 0; background: transparent; top:8px; transition: all 0.3s ease-out 0s; margin-top:-1px; margin-left:5px; position:absolute; }
#mslider .bx-wrapper .bx-pager.bx-default-pager a:hover:after, #mslider .bx-wrapper .bx-pager.bx-default-pager a.active:after, #mslider .bx-wrapper .bx-pager.bx-default-pager a:focus:after { width:40px; background-color:#fff; }
.content .header p.title { color:#fff; }
.content .header p.subtitle { font-family: HELVETICANEUELTPRO-THEX, "微软雅黑"; line-height: 26px; font-size:14px; }
/*案例*/

#indexPage #mproject { padding: 140px 0 70px; background-color: #232323; border-top: 1px solid #2f2f2f; }
#mproject .content .header { padding-bottom:80px; }
#indexPage #mproject .content { width:1425px; margin:0 auto; height:auto; }
#projectlist .projectitem a:hover img { transform: scale(1, 1); margin-top:-36px; }
#indexPage #projectlist .projectitem .project_img { transition: all .6s cubic-bezier(.215, .61, .355, 1);
}
#indexPage #projectlist .projectitem { margin-bottom:50px; width:460px !important; height:auto; background-color:transparent; }
#projectlist .projectitem a .project_info div { margin-top:-24px; width:100%; position:relative; }
#projectlist .projectitem a .project_info { width:420px; height:90px; left:50%; margin-left:-210px; bottom:15px; top:auto; transition: all 0.3s ease-out 0s; background-color:rgba(0, 0, 0, .35); border-top: 1px solid rgba(255, 255, 255, .2); border-bottom: 1px solid rgba(255, 255, 255, 0); }
#projectlist .projectitem a .project_info p { text-align:left; }
#projectlist .projectitem a .project_info p.title { margin:0; height:28px; line-height:28px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #fff; }
#projectlist .projectitem a .project_info p.subtitle { height: 20px; line-height: 20px; color: rgba(255, 255, 255, .6); margin:0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
#projectlist .projectitem a:hover .project_info p.subtitle { color:rgba(255, 255, 255, .6); }
#projectlist .projectitem a:hover .project_info { bottom:-80px; background:rgba(0, 0, 0, .35); border-top: 3px solid #f00; border-bottom: 3px solid #f00; }
#projectlist .projectitem a .project_info .description { background: transparent; border-left: 1px solid rgba(255, 255, 255, .2); border-radius: 0; padding-left: 0; bottom:14px; height: 20px; display:block; right:-5px; width:36px; position:absolute; color:transparent }
#projectlist .projectitem a .project_info .description:after { content:''; display:block; background: url() no-repeat 0 -71px; width: 14px; height: 9px; display: block; margin: 6px 0 0 11px; position:absolute; top:0; ; }
/*more*/

#indexPage a.more { width:130px; height:35px; border-radius:0px; color:transparent; position:relative; border-color:transparent; margin-bottom:80px;}
#indexPage a.more i { display:block; content:''; background: url() no-repeat 0 -22px; width: 34px; height: 14px; display: block; margin-left:-18px; transition: all .3s ease-out 0s;
color:transparent; position:absolute; top:50%; left:50%; margin-top:-8px; }
 #indexPage a.more::after, #indexPage a.more::before {
content: '';
border-radius: inherit;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
transition: transform 0.3s, background-color 0.3s;
-webkit-transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
}
 #indexPage a.more::before {
border: 2px solid #f00;
webkit-transform: scale3d(0.7, 0.7, 1);
transform: scale3d(0.7, 0.7, 1);
margin-top:-2px;
}
 #indexPage a.more::after {
background:#f00;
}
#indexPage a.more:hover { border-color:transparent; }
#indexPage a.more:hover i { color:transparent; background: url() no-repeat 0 -36px; }
#indexPage a.more:hover:after { webkit-transform: scale3d(0.7, 0.7, 1); transform: scale3d(0.7, 0.7, 1); background-color:transparent; }
 #indexPage a.more:hover::before {
webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1)
}
#indexPage #mproject a.more {margin-top:45px;margin-bottom: 35px;}
/*关于*/

#indexPage .module.bgShow .bgmask { display:none; }
#mpage .module-content .header { padding-bottom:30px; margin-bottom:110px; }
#indexPage #mpage { background-size:auto; background-color: #171717; border-top: 1px solid #2F2F2F; position:relative; z-index:6 }
#indexPage #mpage .wrapper { overflow:visible; }
#indexPage #mpage .wrapper li:after { clear:both; display:block; content:''; }
#indexPage #mpage .wrapper li .fimg { float:right; width:600px; height:400px; background-color:#fff; animation-name: fadeInRight !important; position:absolute; right:0; }
#mpage .module-content .description { width:auto; text-align:left; height:120px; animation-name: fadeInLeft !important; line-height: 28px; color: #9c9c9c; }
#mpage .module-content .des-wrap { float:left; z-index:5; padding:60px 0px 0 60px; line-height:28px; color:#9c9c9c; width:580px; position:relative; height:240px; }
#indexPage #mpage a.more { position:absolute; right:534px; bottom:-98px; z-index:1; }
#indexPage #mpage .wrapper li { width:1200px; margin:0 auto; position:relative; margin-top:90px; }
#mpage .content .header p.subtitle, #mpage .content .header p.title { text-indent: 605px; text-align:inherit }
#mpage .content .header p.title { color:#fff; }
/*新闻*/

#indexPage #mnews .content .header { display:block; padding:90px 0 80px; }
#newslist .newstitem.left a.newscontent, #newslist .newstitem.left a.newscontent:hover, #newslist .newstitem.right a.newscontent, #newslist .newstitem.right a.newscontent:hover { padding:0px; }
#newslist .newstitem .newsimg { display:none; }
#newslist .newstitem { float:left; width:360px; height:310px; margin-right:120px; margin-bottom:60px; position:relative; }
#newslist .news_wrapper, #newslist .newstitem a.newscontent:hover .news_wrapper { width:100%; }
#mnews #newslist { width:100%; border-top:1px solid rgba(255, 255, 255, .08); padding-top:80px; height:auto; }
#mnews #newslist .wrapper { width:1320px; margin:0 auto; height:auto; }
#newslist .newsbody { width:100%; position:relative; max-width:100%; height:100%; }
#newslist .newsbody:after { content:''; width: 25px; height:10px; background: url() no-repeat 0 -71px; position:absolute; left:70px; bottom:35px; transition: all 0.3s ease-out 0s; opacity:0 }
#newslist .newsbody .title { width:320px; height:64px; overflow:hidden; white-space: nowrap; text-overflow: ellipsis; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; font-size:16px; color: #fff; line-height:32px; text-align:left; text-indent:0px; margin:0 auto; margin-top:54px; }
#newslist .separator { display:none; }
#newslist .newsbody .description { width:320px; height:78px; overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; transition: all 0.3s ease-out 0s; margin-top: 0; color:#6E6E6E; line-height:25px; text-align:left; margin-top:20px; font-size:12px; }
#newslist .newsbody .date { width:320px; height:auto; background: transparent; position: absolute; top:80px; left:20px; font-weight:100; text-align:left; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; */
}
#newslist .newsbody .date .md { color:#adadad; position: absolute; top: 40px; transition: all 0.3s ease-out 0s; font-family: HELVETICANEUELTPRO-THEX, "微软雅黑"; line-height:20px; width:100%; position:absolute; left:80px; top:14px; display:inline-block }
#newslist .newsbody .date .year { font-size: 22px; color: #8F8F8F; font-family: HELVETICANEUELTPRO-THEX, "微软雅黑"; display:block; line-height: 46px; position:relative; top:0px; width:100%; display:inline-block; }
#newslist .newsbody .date .md span { display:none; }
#newslist .newstitem:after { content:''; display:block; width: 1px; height: 70px; background: rgba(255, 255, 255, .08); display: block; position: absolute; top: -80px; left: -25px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#newslist .newstitem:hover:after { height: 230px; background:#000; width: 1px; display: block; position: absolute; top: -80px; left: -25px; }
#newslist .newstitem .news_wrapper { position: inherit; background:transparent; }
#indexPage #mnews .content_list { width:1460px; height:auto; }
#newslist .newstitem:hover .newsbody .title { color:#f00; }
#newslist .newstitem:hover .newsbody .description { margin-top:0px; }
#newslist .newstitem:hover .newsbody .date { background: transparent; position: absolute; top:246px; }
#newslist .newstitem:hover .newsbody .date .md { font-size:0; border-left:1px solid rgba(255, 255, 255, 0.1); }
#mnews a.more { display:block; margin-top:0px; }
#newsitem_0 { animation-delay: 0s }
#newsitem_1 { animation-delay: 0.2s }
#newsitem_2 { animation-delay: 0.4s }
#newslist .newstitem:hover .newsbody:after { left:115px; opacity:1; }
/*服务*/

#indexPage #servicelist { width: 548px; margin-top:50px; }
#mservice .content > .header { width:100%; border-bottom: 1px solid rgba(255, 255, 255, .2); }
#indexPage #servicelist .serviceitem a img { width:240px; height:150px; float:left; background: rgba(0, 0, 0, .4); }
#indexPage #servicelist .serviceitem div { width:278px; height:150px; float:left; padding:20px 0 0 30px; }
#indexPage #servicelist .serviceitem { height:auto; }
#indexPage #servicelist .serviceitem div p.title { color:#fff; font-size: 18px; line-height: 34px; text-align:left; }
#indexPage #servicelist .serviceitem div p.description { color: rgba(255, 255, 255, .7); line-height: 26px; height: 52px; overflow: hidden; text-align:left; }
#indexPage #servicelist .bx-controls-direction { display:none; }
#indexPage #mservice .wrapper .bx-wrapper .bx-pager { display:block; bottom:0; top:-51px; }
#mservice .bx-wrapper .bx-pager-item { width:30px; height:1px; margin:0 30px; background:rgba(255, 255, 255, .3); }
#mservice .bx-wrapper .bx-pager.bx-default-pager a { width:40px; border-radius:0px; margin:0; position:relative; top:-5px; border-color:transparent; }
#mservice .bx-wrapper .bx-pager.bx-default-pager a:after { content:''; width:25px; height:2px; background:#fff; display:block; margin-top:4px; transition: all 0.3s ease-out 0s; opacity:0 }
#mservice .bx-wrapper .bx-pager.bx-default-pager a:hover, #mservice .bx-wrapper .bx-pager.bx-default-pager a.active, #mservice .bx-wrapper .bx-pager.bx-default-pager a:focus { border-color:transparent; background-color:transparent; }
#mservice .bx-wrapper .bx-pager.bx-default-pager a:hover:after, #mservice .bx-wrapper .bx-pager.bx-default-pager a.active:after, #mservice .bx-wrapper .bx-pager.bx-default-pager a:focus:after { width:40px; opacity:1; }
#indexPage #mservice a.more { margin-top:169px; }
/*团队/

#indexPage #mteam{background-color: #303030; position:relative;}

#indexPage #mteam .module-content { width:700px; margin:0 auto;padding-top: 225px;}

#mteam .bx-wrapper .bx-controls-direction a{display:none;}

#indexPage #mteam .content_list .header{float:left;}

#indexPage #mteam .content_list .summary{float:left; margin-left:50px;}

#indexPage #mteam .header img{ border-radius:0; margin:0;width:100%; height:auto;}

#indexPage #mteam .summary p{width:340px;}

#indexPage #mteam .summary p.title{  text-align:left;padding-bottom:25px; line-height:20px;word-wrap: break-word;border-bottom: 1px solid rgba(234, 234, 234,.2);font-size: 18px; overflow:hidden;}

#indexPage #mteam .summary p.title a{color:#fff;}

#indexPage #mteam .summary p.subtitle{display:none;}

#indexPage #mteam .summary p.description{color: #999;line-height: 26px;height: 52px;text-align: left;font-size:13px; margin-top:20px;}

#indexPage #mteam:after{content:'';position: absolute;content: "";left: 50%;width: 1px;height: 600px; background: rgba(255,255,255,.1);margin-left: -170px; top:0px;}

#indexPage #mteam .bx-pager{ display:block; bottom:66px; left:-20%;}

#mteam .bx-wrapper .bx-pager-item{width:20px; height:1px; transition:all 0.3s ease-out 0s; display:block;background: rgba(255, 255, 255, .3); margin:14px 0; position:relative;}

#mteam .bx-wrapper .bx-pager.bx-default-pager a{width:30px; height:16px;border-color:transparent; margin-top: -8px;

margin-left: -6px;background-color:transparent; border-color:transparent; position:absolute;}

#mteam .bx-wrapper .bx-pager.bx-default-pager a:after { content:''; display:block;width: 11px;height: 1px;border-radius: 0;background: transparent;top:8px;transition: all 0.3s ease-out 0s; margin-top:-1px; margin-left:5px;position:absolute;}

#mteam .bx-wrapper .bx-pager.bx-default-pager a:hover:after,#mteam .bx-wrapper .bx-pager.bx-default-pager a.active:after,#mteam  .bx-wrapper .bx-pager.bx-default-pager a:focus:after{ width:40px; background-color:#fff; }

/*团队*/





#indexPage .module.bgShow {  background-color:#000 }
#indexPage #mteam .content .fw { width:300px; }
#indexPage #mteam .bx-wrapper .bx-viewport { height:442px !important; }
#indexPage #mteam .header img { width:auto; max-width: inherit; margin:0; border-radius:0px; height:100%; margin: 0 -84px; }
#indexPage #mteam .content_list .header:after { content:''; display:block; border-radius: 6px; position: absolute; left: 50%; width: 9px; height: 9px; bottom: 138px; margin-left: -5px; background-color: #FFF; }
#indexPage #mteam .content_list .header:before { content:''; border-radius: 6px; position: absolute; left: 50%; width: 1px; height: 30px; bottom:110px; margin-left: -1px; background: -webkit-linear-gradient(green, transparent); background: -o-linear-gradient(green, transparent); background: -moz-linear-gradient(#FFF, transparent); background: linear-gradient(#FFF, transparent); }
#indexPage #mteam .content_list .header { width: 202px; height: 202px; border-radius: 130px; display: block; margin: 44px auto 0; overflow: hidden; }
#indexPage #mteam .description { width:100%; color: #fff; font-size: 13px; text-align: center; display: block; line-height: 26px; height: 52px; overflow: hidden; }
#indexPage #mteam .summary { margin:24px auto; }
#indexPage #mteam .summary p.title { font-size: 18px; display: block; height: 42px; line-height: 42px; overflow: hidden; text-align: center; }
#indexPage #mteam .summary p.subtitle { display:none; }
#indexPage #mteam .summary p.title a { color: #fff; }
#indexPage #mteam .content_list li { margin-top:50px; }
#indexPage #mteam .bx-wrapper .bx-controls-direction a { display:none; }
#indexPage #mteam .bx-pager { display:block; width:auto; position: relative; bottom:-126px }
#indexPage #mteam .bx-pager:after { content:''; display:block; clear:both; }
#indexPage #mteam .bx-wrapper .bx-pager-item { float:none; }
#mteam .bx-wrapper .bx-pager.bx-default-pager a { width:16px; height:16px; position:relative; top:-8px; left:-13px; border-color:transparent; }
#indexPage #mteam .bx-wrapper .bx-pager-item { width:3px; height:3px; background:#fff; margin:0 10px; }
#mteam .bx-wrapper .bx-pager.bx-default-pager a:after { content:''; width:11px; height:25px; display:block; position:absolute; border-left: 1px solid #fff; top: -11px; opacity:0; }
#mteam .bx-wrapper .bx-pager.bx-default-pager a:hover, #mteam .bx-wrapper .bx-pager.bx-default-pager a.active, #mteam .bx-wrapper .bx-pager.bx-default-pager a:focus { background-color:transparent; border-color:transparent; }
#mteam .bx-wrapper .bx-pager.bx-default-pager a:hover:after, #mteam .bx-wrapper .bx-pager.bx-default-pager a.active:after, #mteam .bx-wrapper .bx-pager.bx-default-pager a:focus:after { opacity:1; }
{
}
/*合作伙伴*/

#indexPage #mpartner { background-color: #1c1c1c; }
#indexPage #mpartner .content .header { display:none; }
#indexPage #mpartner .module-content { padding:25px 0; height:80px; position:relative; }
#indexPage #mpartner .wrapper { height:auto; display:inline-block }
#indexPage #mpartner .wrapper ul li { height:60px; padding-top:20px; }
#indexPage #mpartner .wrapper ul li a { width:112px; height:auto; margin-right:10px; }
#indexPage #mpartner .bx-wrapper .bx-pager { display:none; }
#indexPage #mpartner .bx-wrapper .bx-controls-direction { display:block; }
#indexPage #mpartner .bx-wrapper .bx-controls-direction a.disabled { display:block; }
#mpartner .bx-wrapper .bx-controls-direction a { background:none; }
#mpartner .bx-wrapper .bx-controls-direction a i { color:#c3c6ca; }
#mpartner .bx-wrapper .bx-controls-direction a:hover { background:#000; }
#mpartner .bx-wrapper .bx-controls-direction a:hover i { color:#fff; }
#indexPage #mpartner .bx-wrapper .bx-prev { left:-58px; }
#indexPage #mpartner .bx-wrapper .bx-next { right:-58px; }
/*联系*/ 

#indexPage #mcontact { position:relative; background-color: #171717; }
#indexPage #mcontact:after { content:''; display:block; width:100%; height:544px; position:absolute; top:0; left:0; background-color: #232323; }
#indexPage #mcontact .content { width:1200px; margin:0 auto; padding:80px 0 68px; height:auto; padding-top:624px; }
#indexPage #mcontact .content:after { content:''; display:block; clear: both; }
#indexPage #mcontact .content .header { width:480px; float:left; }
#indexPage #mcontact .content .header p.title { color: #666; text-align:left; }
#indexPage #mcontact .content .header .subtitle { text-align:left; font-family: HELVETICANEUELTPRO-THEX, "微软雅黑"; }
#indexPage #mcontact .content #contactlist { width:720px; float:left; }
#mcontact .content #contactform { display:none; }
#mcontact .content #contactinfo { width:720px; float:left; position:relative; }
#mcontact .content #contactinfo p { float:left; width:290px; padding-right:60px; margin-top:14px; height:auto; color:#666; font-size:12px; line-height:inherit; }
#mcontact .content #contactinfo h3 { color:#5d5d5d; }
#mcontact #contactinfo div { position: absolute; top:35px; left:-250px; }
#mcontact #contactinfo div:after { content:'关注'; color: #9c9c9c; height: 20px; font-size: 16px; line-height: 20px; overflow: hidden; position: absolute; top:-56px; left:0px; }
#mcontact #contactinfo div a { background-color: transparent; color:#9b9b9b; font-size:16px; border:1px solid rgba(255, 255, 255, .07); width:36px; height:36px; border-radius:0; }
#mcontact #contactinfo div a:hover { background-color:#000; border:1px solid #f00; border-radius:0px; }
#mcontact #contactinfo div a:hover i { color: #fff; background-color: #171717; border-radius: 0px; padding: 8px; margin-top: 2px; }
#contactinfo div a i { margin-top:10px; transition: all .3s ease-out 0s;
border-radius: 20px; padding:8px; margin-top:2px; left:2px; }
#mcontact .content #contactform { display:block; position:absolute; top:80px; left:0px; margin-left:0px; margin-top:0px; z-index:3 }
#contactform p textarea.inputtxt { width: 1100px; height:82px; float: none; line-height: 18px; }
#contactform p .inputtxt { border: none; margin-bottom: 5px; background: none; color: #D6D6D6; ; width: 320px; float: left; border-bottom:1px solid #484848; margin: 40px 35px 0 35px; padding:10px 0; }
#contactform p { border-bottom: 0px; padding-top: 0px; width: 1170px; margin: 0 auto; text-align: center; margin-bottom: 40px; margin-top:
}
#contactform p .inputsub { width: 300px; height: 46px; line-height: 46px; text-align: center; margin: 0 auto; border-radius:0px; margin:0px; padding:0px; background-color:transparent; position:relative; z-index:3; }
#contactform form p:last-child { position: relative; width: 300px; height: 46px; margin-top:45px; }
#contactform form p:last-child:after { content:''; display:block; background:#666 }
 #contactform form p:last-child::before {
content: '';
border-radius: inherit;
position: absolute;
-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
transition: transform 0.3s, background-color 0.3s;
-webkit-transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
top: 0;
left: 0;
width:300px;
height:46px;
}
 #contactform form p:last-child::after {
background: #000;
content: '';
border-radius: inherit;
position: absolute;
-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
transition: transform 0.3s, background-color 0.3s;
-webkit-transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
top: 0;
left: 0;
width: 300px;
height:46px;
}
 #contactform form p:last-child::before {
webkit-transform: scale3d(0.7, 0.7, 1);
transform: scale3d(0.7, 0.7, 1);
border: 2px solid #f00;
}
 #contactform form p:last-child:hover::before {
transform: scale3d(1, 1, 1);
margin-top:-3px;
}
 #contactform form p:last-child:hover::after {
webkit-transform: scale3d(0.7, 0.7, 1);
transform: scale3d(0.7, 0.7, 1);
background-color: transparent;
}
#contactform form p:last-child:hover .inputsub { color: #fff; }
#footer { background: #151515; border-top: 0px solid rgba(53, 53, 53, 0.5); }
#footer p { width:1200px; margin:0 auto; text-align:left; padding:12px 0; }
#pages a.active, #pages a:hover { background-color:#000 }
.npagePage .content { background: #181818; }
#contactinfo div a i.fa-weixin { width:16px; }
/*案例内页*/

.nobanner #header { background: #181818; border-bottom: 0px solid #323232; }
.nobanner #header.mini {background-color: rgba(0, 0, 0, 0.7);}
.npagePage#mproject .content .header { display:none; background: #181818; }
.npagePage#mproject .content { background: #181818; }
.npagePage #projectlist { padding:10px 2% 2%; }
.npagePage #projectlist .wrapper { margin:0 auto; }
.npagePage #projectlist .projectitem { margin-right:0px; }
.npagePage #projectlist .projectitem a .project_info { bottom:16px; margin-left:-188px; background: rgba(0, 0, 0, .35); width:410px; width:92%; right:0px; left:auto; margin-left:0; }
.npagePage #projectlist .projectitem a .project_info:after { content:''; display:block; width: 30px; height: 2px; background:#B49842; display: block; position: relative; top:10px; left: -18px; transition: all 0.3s ease-out 0s; z-index: 2; }
.npagePage #projectlist .projectitem a .project_info div { width:90%; transition: all 0.3s ease-out 0s; }
.npagePage #projectlist .projectitem a .project_info p { padding:0 25px }
.npagePage #projectlist .projectitem a .project_info p.title { color: #fff; width:80%;}
.npagePage #projectlist .projectitem a:hover .project_info p.title { padding-left:45px;}
.npagePage #projectlist .projectitem a .project_info p.subtitle { color: rgba(255, 255, 255, .6); width:76%;}
.npagePage #projectlist .projectitem a:hover .project_info p.subtitle { padding-left:45px;}
.npagePage #projectlist .projectitem:hover a .project_info { margin-left:20px; }
.npagePage #projectlist .projectitem:hover a .project_info { margin-left:20px; border-top: 0px solid #f00;border-bottom: 0px solid #f00;}
.npagePage #projectlist .projectitem a .project_info .description { width:36px; height:36px; background: transparent; border:0px solid rgba(255, 255, 255, 0); padding:0px; transition: all 0.3s ease-out 0s; bottom:5px; right:-20px; color:transparent; }
.npagePage #projectlist .projectitem a .project_info .description:after { margin-top:14px; }
.npagePage #projectlist .projectitem:hover a .project_info p.description { right:-28px; border: 2px solid #fff; }
.npagePage #projectlist .projectitem a:hover img { transform:scale(1.06, 1.06); margin-top:0px; }
#category { padding:1.5% 1% 15px; text-align:left; }
.npagePage #projectlist .projectitem:hover a .project_info { background: rgba(180,152,66, .35)}
.npagePage #projectlist .projectitem:hover a .project_info:after { background:#fff; width:50px; }
#category li { position:relative; }
#category a { border-color:transparent; color: #666; font-size:13px }
#category a.active, #category a:hover { background:transparent; border-color:transparent; color: #fff; }
#category a::before {content: '';width: 15px;height: 2px;transition: all 0.3s ease-out 0s;position: absolute;padding-left: 10px;z-index: 1;margin-top: -10px;background-color:transparent;}
#category a:hover::before, #category a.active:before {background: #f00;transition: all 0.3s ease-out 0s;width: 25px;}
/*内页服务*/

.npagePage { padding-top:80px; }
.npagePage #banner { height:380px; }
.npagePage #banner div { height:380px; position: inherit; }
.npagePage #servicelist { width:1200px; overflow:hidden; padding-top:90px; }
.npagePage #servicelist .serviceitem { width: 399px; float: left; border-right: 1px solid rgba(255, 255, 255, .06); min-height: 460px; margin-bottom: 60px; padding-bottom: 40px; margin-right:0px; position:relative; }
 .npagePage #servicelist .serviceitem:nth-child(3n) {
border-right: none;
}
.npagePage #servicelist .serviceitem img { width: 360px; height: 226px; margin: 0; background: transparent; float: none; margin-left: 20px; transition: all 0.3s ease-out 0s; }
.npagePage #servicelist .serviceitem div { position:relative; transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s;
}
.npagePage #servicelist .serviceitem div p { padding: 0 30px 0 30px; width:auto; }
.npagePage #servicelist .serviceitem div p.title { font-size: 18px; color:#f3f3f3; display: block; height: 48px; line-height: 48px; overflow: hidden; margin: 20px 0 6px; transition: all .3s ease-out 0s;
}
.npagePage #servicelist .serviceitem div p.description { color: #6f6f6f; margin-top: 25px; transition: all .3s ease-out 0s;
height: 52px; line-height: 26px; font-size: 12px; }
.npagePage #servicelist .serviceitem div p.title:before { position: absolute; content: ""; left: 50%; width: 35px; height: 1px; background: rgba(255, 255, 255, .15); margin-left: -17px; bottom: 64px; transition: all 0.3s ease-out 0s; }
#sitecontent .npagePage .serviceitem a.details { width:36px; height:36px; border: 2px solid transparent; border-radius:0px; display:block; color: transparent; margin:0px; position:absolute; top:425px; left:50%; margin-left:-20px; transition: all 0.3s ease-out 0s; opacity:1 }
#sitecontent .npagePage .serviceitem a.details i { width: 15px; height: 9px; background:url() no-repeat -110px -11px; display: block; margin: 13px 0 0 11px; position: absolute; top: 0px; }
#sitecontent .npagePage .serviceitem a.details .fa-angle-right:before { display:none; }
.npagePage #servicelist .serviceitem:hover img { margin-top:-10px; }
.npagePage #servicelist .serviceitem:hover div { margin-top:-10px; }
.npagePage #servicelist .serviceitem:hover a.details { border: 2px solid #f00; background: transparent; margin-top:-10px; }
.npagePage #servicelist .serviceitem:hover div p.description { color:#fff; }
.npagePage #servicelist .serviceitem:hover div p.title:before { height:2px; background: #f00; }
/*关于内页*/

#page_none .postbody { padding-top:80px; }
/*团队内页*/

.npagePage #teamlist { width:1200px; padding-top:100px; }
.npagePage .teamitem { width: 359px; height:350px; border-top:1px solid rgba(255, 255, 255, .12); border-bottom: 0px solid rgba(0, 0, 0, 0); margin: 0 40px 105px 0; transition: all 0.3s ease-out 0s; position:relative; }
.npagePage .teamitem a { border-top-left-radius:0; border-top-right-radius: 0; overflow: hidden; z-index: 1; width: 340px; height: 170px; transition: all 0.3s ease-out 0s; float: right; transition: all 0.3s ease-out 0s; position:absolute; bottom:0px; }
.npagePage .teamitem p a { width:auto; height:auto; float:none; font-size:18px; color: #fff; display: inline-block; padding: 0 20px 0 0; height: 26px; overflow: hidden; position:inherit; }
.npagePage .teamitem .teaminfo { float:left; width:308px; height:140px; transition: all .6s cubic-bezier(.215, .61, .355, 1);
text-align:left; margin-top:30px; padding:0 15px; position:absolute; top:0px; }
.npagePage .teamitem .teaminfo .title { display: inline-block; }
.npagePage .teamitem .teaminfo .subtitle { font-size: 13px; color: #999; display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.npagePage .teamitem .teaminfo .description { font-size:13px; color:#757575; padding-top:26px; line-height:26px; display:block; height:52px; overflow:hidden; margin-top:0px; }
.npagePage #teamlist .teamitem .wrap { display:none; }
.npagePage .teamitem a img { width:100%; height:auto; }
.npagePage .teamitem:hover { border-color:#f00 }
.npagePage .teamitem:hover .teaminfo { margin-top:40px; }
.npagePage .teamitem:hover a { margin-top:20px; }
.npagePage .teamitem:hover a { bottom:10px; }
.npagePage .teamitem:hover p a { margin-top:0; }
#sitecontent .npagePage a.details { display:block; width:38px; height:25px; border-color:transparent; border-left:1px solid rgba(255, 255, 255, .1); position: relative; border-radius: 0px; opacity:0; }
#sitecontent .npagePage a.details:after { width:14px; height:9px; content:''; display:block; background:url() no-repeat 0px -71px; position:absolute; top:8px; left:14px; display:none; }
#sitecontent .npagePage .teamitem:hover a.details { opacity:1; bottom:0 }
#sitecontent .npagePage a.details i {background: url() no-repeat 0 -71px;width: 14px;height: 9px;display: block;margin: -51px 0 0 11px;padding-left:15px;}
#sitecontent .npagePage a.details:hover {border-color:transparent;text-indent: 0;}
/*新闻内页*/

.npagePage #newslist { width:1200px; }
.Pagenews #category { width:1200px; padding-left: 0px; margin:0 auto; margin-top:15px; margin-bottom:10px; }
.npagePage #newslist .newstitem { width:1158px; height: 170px; padding-top:10px; border-top: 1px solid rgba(0, 0, 0, .06); margin-bottom:4px; position:relative;border-bottom: 1px solid rgba(255,255,255,.06);}
.npagePage #newslist .newstitem .newsimg { display:block; position:inherit; top:auto; bottom:auto; left:auto; right:auto; width: 198px; height: 128px; margin: 16px 16px 16px 0;transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s;
float:left; }
.npagePage #newslist .newstitem .news_wrapper { width:600px; float:right; padding: 34px 310px 34px 10px; height:auto; }
.npagePage #newslist .newsbody { position: initial; transition: all .3s ease-out 0s;}
.npagePage #newslist .newsbody .title { width:auto; font-size: 16px; color: #d7d7d7; display: block; height: 24px; overflow: hidden; margin-bottom: 20px; transition: all .3s ease-out 0s;
margin-top:0px; }
.npagePage #newslist .newsbody .description { width:auto; height:52px; }
.npagePage #newslist .newsbody .date { top:28px; right:60px; width:80px; left:auto; }
.npagePage #newslist .newsbody .date .md { left:0px; top:35px; text-align:right; color:#484848; font-size:13px; }
.npagePage #newslist .newsbody .date .year { font-size:24px; text-align:right; }
.npagePage #newslist .newsbody:after { width: 35px; height: 2px; content: ''; background: #f00; position: absolute; top: 48px; left:-55px; transition: all 0.3s ease-out 0s; }
.npagePage #newslist .newstitem:after { display:none; }
#sitecontent .npagePage .newstitem a.details { width:34px; height:34px; border-radius:0px; display:block; color: transparent; margin:0px; position:absolute; top:50px; right:0px; transition: all 0.3s ease-out 0s; border-left: 1px solid rgba(255, 255, 255, .05); opacity:1;}
#sitecontent .npagePage .newstitem a.details i { width: 15px; height: 9px; background:url(icon.png) no-repeat -110px -11px; display: block; margin: 13px 0 0 11px; position: absolute; top:-1px; transition: all 0s ease-out 0s; }
#sitecontent .npagePage .newstitem a.details .fa-angle-right:before { display:none; }
.npagePage #newslist .newstitem:hover a.details { background: #f00; border: 1px solid #f00; margin-left: 0; right:15px; }
.npagePage #newslist .newstitem:hover a.details i { background: url(icon.png) no-repeat 0 -71px; }
.npagePage #newslist .newstitem a.newscontent:hover .news_wrapper { width:600px; }
.npagePage #newslist .newstitem:hover .newsbody .date { top:28px; left:auto; right:85px; }
.npagePage #newslist .newstitem:hover .newsbody:after { background: #f00; width:60px; left:-55px; }
.npagePage #newslist .newstitem:hover .newsbody { margin-left:20px; }
.npagePage #newslist .newstitem:hover .news_wrapper { padding-left:10px; }
.npagePage #newslist .newstitem:hover .newsbody .date .year { font-size:24px; color:#999; }
.npagePage #newslist .newstitem:hover .newsbody .date .md { font-size:13px; border:0 }
/*新闻三级页*/

.npagePage.newsl .content .header { display:block; }
.npagePage.newsl .postbody { width: 974px; padding: 36px 14px 0 12px; border-top: 1px dotted rgba(255, 255, 255, .2); color:#818181; }
.npagePage.newsl .content .header p.title { width: 800px; font-size: 18px; color: #fff; padding-bottom: 16px; margin: 0 auto; text-align: center; height:auto; line-height: normal; font-weight:400; font-family: Arial, "微软雅黑"; }
.npagePage.newsl .content .header p.subtitle { color:#999; font-size:12px; font-family: Arial, "微软雅黑"; }
/*服务三级页*/

.default .postbody { padding: 30px 0px 70px 0px; width: 960px; color: #818181; border-top: 1px solid rgba(255, 255, 255, .08); }
.npagePage.default .content .header { display:block; padding:0 }
.npagePage.default .content .header p.title { font-size: 18px; color: #fff; text-align: center; padding: 50px 50px 30px; margin-bottom: 30px; margin: 0 auto; position:relative; }
.npagePage.default .content .header p.title:after { content: ''; position: absolute; top:80px; left: 50%; background: rgba(0, 0, 0, .15); width: 30px; height: 1px; margin-left: -15px; }
/*案例三级页*/

#projectwrap1 { width:100%; margin-top:0px; }
#projectbody1 { width:calc(76% - 160px); background:#080808; float: left; padding:0 80px 30px; border-bottom:1px solid rgba(255, 255, 255, .08); }
.content #projectih1 .header { display:block; padding-top: 90px; padding-right: 8%; margin-left:40px; position:relative }
#projectinfo1 { background: transparent; float: right; min-width: 280px; z-index: 10; width: 24%; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); border:0px; padding:0px; }
#projectimages1 img { float: none; margin: 20px auto; display: block; max-width: 100%; width:auto; }
#projectinfo1 .header p.title { width: auto; font-size: 20px; height: auto; color: #fff; margin-bottom: 10px; overflow: visible; margin-left: 50px; padding-right: 8%; font-family: Arial, "微软雅黑"; }
#projectinfo1 .header p.subtitle { opacity: .7; filter: alpha(opacity:30);
width: 570px; height: 16px; line-height:16px; overflow: hidden; width: 100%; color: #B9B9B9; padding-left: 50px; font-size:12px; font-family: Arial, "微软雅黑"; }
#projectinfo1 .header .title-warp:after { position: absolute; content: ""; top:84px; left:-40px; width: 3px; height: 35px; background: #f00; }
#projectinfo1 .header .title-warp:before { content: ""; width: 40px; z-index: 10; position: absolute; background: rgba(255,255,255,.15) none repeat scroll 0% 0%; top: 100px; height: 1px; left:-38px; }
#projectshow1 { width: 22%; z-index: 10; float: left; padding-left: 2%; margin-top:0px }
.npagePage #projectib1 #projectlist .projectitem { width: 140px!important; margin: 0 0px 15px 0; }
.npagePage #projectib1 #projectlist .projectitem .project_img { overflow:hidden;}
.npagePage #projectib1 #projectlist .projectitem:hover a img{transform: scale(1.05, 1.05);	-moz-transform:scale(1.05, 1.05);     -webkit-transform:scale(1.05, 1.05);     -o-transform:scale(1.05, 1.05); }
#npagePage #projectib1 #projectlist .projectitem a .project_info { width:auto; margin-left:0px; height:auto;margin-top: -58px;border-bottom: none;border-top: none; }
.npagePage #projectib1 #projectlist .projectitem a .project_info p { padding:0 15px; }
#npagePage #projectib1 #projectlist .projectitem a .project_info div { width:auto; background: rgba(0, 0, 0, .3); margin-top:-15px; margin-left:0px; padding:6px 0; }
#npagePage #projectib1 #projectlist .projectitem .project_info p.title { color:#fff; }
#npagePage #projectib1 #projectlist .projectitem .project_info p.subtitle { color:rgba(255, 255, 255, 0.64); }
#npagePage #projectib1 #projectlist .projectitem a:hover .project_info { height:auto; }
.npagePage #projectib1 #projectlist .projectitem:hover a .project_info p.title { padding-left:15px; }
.npagePage #projectib1 #projectlist .projectitem:hover a .project_info p.subtitle { padding-left:15px; }
.npagePage #projectib1 #projectlist .projectitem a .project_info .description { display:none; }
#projecttags1 a:hover { background: #f00; color:#fff; }
.npagePage #projectib1 #projectlist { margin-left: -2%; }
#pageswitch { width:76%; display:block; margin:0; }
#pageswitch a { width:50%; padding:42px 0 10px 0; height:60px; font-family: Arial, "微软雅黑"; background:rgba(0,0,0,.2); }

#pageswitch a .title { right:80px; position: absolute; font-size: 16px; color: #595959; width: 440px; height: 26px; overflow: hidden; line-height: 26px; transition: all .3s ease-out 0s;
font-weight:100; }
#pageswitch a.next .title { top:35px;}
#pageswitch a .subtitle { color: #999; opacity: .5; filter: alpha(opacity=50); height: 16px; line-height: 16px; overflow: hidden; position: absolute; right:80px; top: 63px; }
#pageswitch a.prev .subtitle { text-align:left; right:auto; left:80px }
#pageswitch a.prev .title { text-align:left; right:auto; left:80px; top:35px;}


#pageswitch a div:after { content:''; position:absolute; width: 35px; height: 35px; text-align: center; z-index:5; transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s;
border-radius: 0; border: transparent; border-right: 1px solid rgba(255, 255, 255, .1); right:20px }
#pageswitch a div:before { content:''; width: 15px; height: 9px; background: url(icon.png) no-repeat -110px -11px; display: block; position:absolute; margin:9px 0 0 11px; transition: all .3s ease-out 0s;
right:30px; }
#pageswitch a.next div::after { margin-top:-5px;}
#pageswitch a.prev div:after { left:20px;margin-top: -5px;}
#pageswitch a.prev div:before { left:20px; background: url(icon.png) no-repeat -142px -11px; z-index:6 }
#pageswitch a:hover { background:#f00; box-shadow:0 0 0; }
#pageswitch a:hover .title { color: #fff; }
#pageswitch a:hover .subtitle { opacity: .5; color: #fff; }
#pageswitch a:hover div:after { border: 1px solid rgba(255, 255, 255, .15); background:#fff; }
#pageswitch a.prev:hover div:before { background: transparent url(icon.png) no-repeat scroll -142px 0; }
#pageswitch a.next:hover div:before { background: url(icon.png) no-repeat -110px 0; z-index:6 }
#projecttags1 a { padding:5px 20px; line-height: 20px; color: #BDBDBD; background:#292929 }
#projectshow1 #projectib1 { margin-top:0px; }
.npagePage1 #pages { display:none; }
.npagePage #projectib1 #projectlist .projectitem:hover a .project_info { background:transparent; }
.npagePage #projectib1 #projectlist .projectitem:hover a .project_info { margin-left:0px; }
/*分享到*/

#shares { right:0px; }
#shares a#sshare { display:none; }
#shares a#gotop { margin-top:0px;transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#shares a#gotop:hover { background: #060606;}
#shares a i { margin-top:12px; }
#shares a { width:40px; height:40px; }
#shares a i.fa-weixin { margin:12px 0 0 15px; }
#shares a#gotop i { margin-top:8px; }
#online_open { width:40px; height:40px; bottom:160px; right:0 !important; background:#f00; }
#online_open i { margin-top:12px; }
#olx_tel p { color:inherit; }
#olx_head { background:#f00; border-radius:0; }
#online_lx { border-radius:0px; background:#262626; right:0; }
#olx_qq li:hover a i { color:#fff; }
#shares a#sweibo { background-color: #313131; border-bottom: 1px solid #3d3d3d;transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;}
#shares a#sweibo:hover {background-color: #1A1A1A;}
#shares a#sweixin { background-color: #313131;transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
#shares a#sweixin:hover {background-color: #1A1A1A;}
#olx_qq li a { background:#262626; border-color:#343434; color: #aaa; position:relative; }
#olx_tel div { color:#aaa }
#olx_qq li a i { transition: all 0.3s ease-out 0s; }
#olx_qq li a:hover i { color:#f00; }
#olx_qq li a:hover { background:transparent; }
#olx_qq li a:after { content:''; display:block; height:100%; position: absolute; top:0px; left:0px; width:2px; background:transparent; transition: all ease-out .3s;
}
#olx_qq li a:hover:after { background:#f00; }
#pageswitch { width:1180px; margin:0 auto; }
#pageswitch a.next { float: right; }
.npagePage1 #pageswitch { width: 76%; margin:0 }
.default #pageswitch { margin:0 auto; width:1080px; display:none; }
.newsl #pageswitch { width:1000px; margin:0 auto; display:none; }
#teambody .theader .title { color:#fff; font-size:20px; height: 34px; }
#teambody .theader .subtitle { color:#b7b7b7 }
#sitecontent .npagePage.Pageanli a.details { display:none; }
.postbody a { color:#f00;}
.npagePage1 #projectlist .projectitem { background:transparent;}

.Pageservice .content .header ,.Pageyemian .content .header,.Pageteam .content .header,.Pagenews .content .header { display:none;}

#category li.hasmore div { left:20px;}
#category li.hasmore div ul { margin-top:0; border-top:solid  1px transparent ;}
#category li.hasmore div ul li { float:left;}
#category li.hasmore div ul a:hover { background:transparent; }
#category li.hasmore div ul a.active { background:transparent;}

.postbody img { margin-bottom:10px;}